PORT=3000
DB_FILE=database.db
DATABASE_URL=postgres://username:password@hostname:5432/databasename?sslmode=require

# SMTP Credentials for Forgot Password Feature
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_username_here
SMTP_PASS=your_smtp_password_here
FROM_EMAIL=your_sender_email_here
